html, body {
  font-size: rem(16px);
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: $fw-regular;
  color: $c-text;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0 0 1rem;
  font-weight: $fw-medium;
}

h1, .h1 {
  @include fluid-type(rem(27px), rem(36px));
}

h2, .h2 {
  @include fluid-type(rem(26px), rem(36px));
}

h3, .h3 {
  @include fluid-type(rem(22px), rem(32px));
}

h4, .h4 {
  @include fluid-type(rem(22px), rem(28px));
}

h5, .h5 {
  @include fluid-type(16px, 20px);
  text-transform: uppercase;
}

h6, .h6 {
  @include fluid-type(11px, 14px);
  text-transform: uppercase;
}

p {
  margin: 0 0 1rem 0;
}


b, strong {
  font-weight: bold;
}
