<div id="pricingSection" class="section section-pricing">
    <div class="container">
        <h2 class="section__title">Cena realitního webu</h2>
        <p class="section__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aspernatur quis veritatis? Architecto, distinctio dolor ducimus eum ex exercitationem facilis fugiat ipsum magnam perspiciatis possimus quo, similique sint sit totam.</p>
        <div class="price-toggler">Měsíční platba X roční platba</div>

        <div class="pricing-types">

            <div class="pricing-type">
                <div class="pricing-type__top">
                    <div class="img"></div>
                    <div class="heading">
                        <h3 class="title">do 100 realit</h3>
                        <span class="subtitle">+1 GB prostoru</span>
                    </div>
                </div>
                <div class="pricing-type__content">
                    <ul class="check-list">
                        <li class="item">Databáze makléřů</li>
                        <li class="item">Databáze makléřů</li>
                        <li class="item">Databáze makléřů</li>
                    </ul>
                </div>
                <div class="pricing-type__bottom">
                    <div class="price">590 Kč <span class="monhtly">/ měsíc</span></div>
                </div>
            </div>

            <div class="pricing-type">
                <div class="pricing-type__top">
                    <div class="img"></div>
                    <div class="heading">
                        <h3 class="title">do 500 realit</h3>
                        <span class="subtitle">+10 GB prostoru</span>
                    </div>
                </div>
                <div class="pricing-type__content">
                    <ul class="check-list">
                        <li class="item">Databáze makléřů</li>
                        <li class="item">Databáze makléřů</li>
                        <li class="item">Databáze makléřů</li>
                    </ul>
                </div>
                <div class="pricing-type__bottom">
                    <div class="price">790 Kč <span class="monhtly">/ měsíc</span></div>
                </div>
            </div>

            <div class="pricing-type">
                <div class="pricing-type__top">
                    <div class="img"></div>
                    <div class="heading">
                        <h3 class="title">na míru</h3>
                        <span class="subtitle">prostor dle potřeby</span>
                    </div>
                </div>
                <div class="pricing-type__content">
                    <ul class="check-list">
                        <li class="item">Databáze makléřů</li>
                        <li class="item">Databáze makléřů</li>
                        <li class="item">Databáze makléřů</li>
                    </ul>
                </div>
                <div class="pricing-type__bottom">
                    <div class="price">individuálně</div>
                </div>
            </div>

        </div>

        <div class="pricing-note">
            <p>Uvedené ceny jsou bez DPH.</p>
        </div>

        <div class="bottom-note">
            <p class="bigger">Instalační poplatek <span class="c-green">+ 2 990 Kč bez DPH</span> jednorázově.</p>
            <p class="smaller"><a href="">Co je součástí instalatčního poplatku?</a></p>
        </div>
    </div>
</div>
