<div id="heroSection" class="section section-hero">
    <div class="two-divs">
        <div class="two-divs__left">
            <h1>Chytré webové řešení pro makléře a realitní kanceláře.</h1>
            <p class="subtitle">Správa a prezentace nemovitostí k prodeji nebo k pronájmu na vlastním realitním webu. Bez provizí a bez podmínek. V moderním a především plně responzivním webu.</p>
            <div class="buttons">
                <a class="" href="">Chci vlastní realitní web</a>
                <a class="" href="">Prohlédnout demoverzi</a>
            </div>
        </div>
        <div class="two-divs__right"></div>
    </div>

    <div class="more-arrow">
        <a href="" class="more-arrow__link"></a>
    </div>

</div>
