<div id="administrationSection" class="section section-administration">
    <div class="container">
        <h2 class="section__title">Administrace realitního webu</h2>
        <p class="section__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aspernatur quis veritatis? Architecto, distinctio dolor ducimus eum ex exercitationem facilis fugiat ipsum magnam perspiciatis possimus quo, similique sint sit totam.</p>

        <div class="two-divs">
            <div class="two-divs__left"></div>
            <div class="two-divs__right">
                <div>
                    <ul class="list-icons">
                        <li>Přehledná evidence nemovitostí, klientů a makléřů</li>
                        <li>Blablablabla</li>
                        <li>Blablablabla</li>
                        <li>Blablablabla</li>
                        <li>Blablablabla</li>
                        <li>Blablablabla</li>
                        <li>Blablablabla</li>
                        <li>Blablablabla</li>
                        <li>Blablablabla</li>
                        <li>Blablablabla</li>
                        <li>Blablablabla</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
