<div id="headerSection" class="section-hero bg-grad">
    <div class="hero-wrapper d-flex align-items-lg-center py-4 lazy" data-bg="assets/images/banner.png">
        <div class="container">
            <div class="row">
                <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-8 col-sm-10">
                    <h1 class="title">Chytré webové řešení pro <span class="highlight">makléře</span> a&nbsp;<span class="highlight">realitní kanceláře.</span></h1>
                    <p class="subtitle mb-4">Správa a prezentace nemovitostí k prodeji nebo k pronájmu na vlastním realitním webu. <span class="highlight">Bez provizí</span> a <span class="highlight">bez podmínek.</span> V&nbsp;moderním a především plně responzivním webu.</p>
                    <div class="buttons">
                        <a class="btn btn--primary" href="">Chci vlastní realitní web</a>
                        <a class="btn btn--secondary" href="">Prohlédnout demoverzi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="more-arrow">
        <a href="#servicesSection" class="more-arrow__link"><img src="assets/images/double_down.svg" alt=""></a>
    </div>
</div>
