<div id="referencesSection" class="section section-references">
    <div class="container">
        <h2 class="section__title">Realizované projekty</h2>
    </div>
    <div class="container-fluid">
        <div class="references-slider">
            <div class="item">
                <div class="item__logo"><img src="" alt=""></div>
                <div class="item__content">
                    <div class="item__content__bubble">
                        <h4 class="title"></h4>
                        <div class="text"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolor inventore iure similique tenetur! Ad aliquam aut cupiditate distinctio magnam nam quo vero, voluptates. Consequuntur cum eum explicabo iusto unde.</p></div>
                    </div>
                    <div class="item__content__bottom">
                        <span class="name">David Schwedt,</span><span class="web"><a href="" target="_blank">www.andyreality.cz</a></span>
                    </div>
                </div>
                <div class="item__web-img"><img src="" alt=""></div>
            </div>
        </div>
    </div>
</div>
