<div id="pluginsSection" class="section section--green section-plugins">
    <div class="container">
        <h2 class="section__title">Další možnosti rozšíření realitního webu</h2>

        <div class="plugins">
            <div class="plugin">
                <div class="plugin__img"><img src="" alt=""></div>
                <div class="plugin__text">
                    <h3 class="title">Automatický export na realitní portál Sreality.cz</h3>
                    <div class="text"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></div>
                </div>
            </div>

            <div class="plugin">
                <div class="plugin__img"><img src="" alt=""></div>
                <div class="plugin__text">
                    <h3 class="title">Automatický export na realitní portál Sreality.cz</h3>
                    <div class="text"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></div>
                </div>
            </div>

            <div class="plugin">
                <div class="plugin__img"><img src="" alt=""></div>
                <div class="plugin__text">
                    <h3 class="title">Automatický export na realitní portál Sreality.cz</h3>
                    <div class="text"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></div>
                </div>
            </div>

        </div>
    </div>
</div>
