<div id="administrationSection" class="section section-administration">
    <div class="container">
        <h2 class="section__title">Administrace realitního webu</h2>
        <p class="section__subtitle">Váš realitní web budete mít plně pod kontrolou pomocí jednoduchého administračního rozhraní.<br>
            V administraci budete moci vkládat realitní nabídky, spravovat zájemce, zákazníky včetně obchodních případů.</p>

        <div class="row mb-5 align-items-center">
            <div class="col-lg-7 col-xxl-6">
                <div data-aos="fade-right">
                    <img class="lazy" data-src="assets/images/browser.png" alt="">
                </div>
            </div>
            <div class="col-lg-5 col-xxl-6">
                <div data-aos="fade-left">
                    <ul class="list-icons">
                        <li><i class="done"></i>Přehledná evidence nemovitostí, klientů a makléřů</li>
                        <li><i class="done"></i>Správa obchodních případů</li>
                        <li><i class="done"></i>Možnost přiřadit nabídku konkrétnímu makléři</li>
                        <li><i class="done"></i>Rychlý kontakt na majitele v detailu nemovitosti</li>
                        <li><i class="done"></i>Přehledná kategorizace nemovitostí</li>
                        <li><i class="done"></i>Lokalita zadávána pomocí mapových pokladů Mapy.cz</li>
                        <li><i class="done"></i>Editace SEO tagů - nadpis, titulek a popis</li>
                        <li><i class="done"></i>Vlastnosti nemovitosti formou strukturovaných parametrů</li>
                        <li><i class="done"></i>Filtrace nemovitostí dle strukturovaných parametrů</li>
                        <li><i class="done"></i>Vkládání fotografií, videí či dokumentů ke každé nemovitosti</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
