<div id="referencesSection" class="section section-references mb-3 pb-3">
    <div class="container">
        <h2 class="section__title">Realizované projekty</h2>
    </div>
    <div class="container-fluid">
        <div class="mt-0 mt-md-5 pt-md-3 pt-0">
            <div class="container">
                <div class="references-slider tns-references">

                    <div class="item-wrapper">
                        <div class="item">
                            <div class="item__logo"><img class="tns-lazy-img" data-src="/assets/images/andy-logo.png" alt=""></div>
                            <div class="item__content">
                                <div class="item__content__bubble">
                                    <h4 class="title">Andy reality</h4>
                                    <div class="text"><p>lorem ipsum dolor sit amet, consectetur pro adipisici consectetur debits adipisicing lacus consectetur Business Directory.lorem ipsum dolor sit amet, consectetur pro adipisici consectetur debits adipisicing lacus consectetur Business Directory.lorem ipsum dolor sit amet, consectetur pro adipisici consectetur debits adipisicing lacus consectetur Business Directory.lorem ipsum dolor sit amet.</p></div>
                                </div>
                                <div class="item__content__bottom">
                                    <span class="name">David Schwedt,</span><span class="web"><a href="" class="c-primary u-link" target="_blank">www.andyreality.cz</a></span>
                                </div>
                            </div>
                            <div class="item__web-img"><img class="tns-lazy-img" data-src="/assets/images/laptop.png" alt=""></div>
                        </div>
                    </div>

                    <div class="item-wrapper">
                        <div class="item">
                            <div class="item__logo"><img class="tns-lazy-img" data-src="/assets/images/andy-logo.png" alt=""></div>
                            <div class="item__content">
                                <div class="item__content__bubble">
                                    <h4 class="title">Andy reality 2</h4>
                                    <div class="text"><p>lorem ipsum dolor sit amet, consectetur pro adipisici consectetur debits adipisicing lacus consectetur Business Directory.lorem ipsum dolor sit amet, consectetur pro adipisici consectetur debits adipisicing lacus consectetur Business Directory.lorem ipsum dolor sit amet, consectetur pro adipisici consectetur debits adipisicing lacus consectetur Business Directory.lorem ipsum dolor sit amet.</p></div>
                                </div>
                                <div class="item__content__bottom">
                                    <span class="name">David Schwedt,</span><span class="web"><a href="" class="c-primary u-link" target="_blank">www.andyreality.cz</a></span>
                                </div>
                            </div>
                            <div class="item__web-img"><img class="tns-lazy-img" data-src="/assets/images/laptop.png" alt=""></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
