<div id="pluginsSection" class="section section-plugins bg-gray pb-4 mb-0">
    <div class="container">
        <h2 class="section__title c-primary">Další možnosti rozšíření realitního webu</h2>

        <div class="plugins mt-4 mt-sm-5">
            <div class="plugin">
                <div class="plugin__mobile-top">
                    <div class="plugin__img"><img class="lazy" data-src="https://dummyimage.com/200x150/555/fff" alt=""></div>
                    <div class="plugin__text">
                        <h3 class="title">Automatický export na realitní portál Sreality.cz</h3>
                        <div class="text d-none d-md-block"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda dicta distinctio fugiat minima odit reiciendis repudiandae ut veniam voluptatibus! Eius error, et harum hic itaque iure obcaecati odit sapiente!</p></div>
                    </div>
                </div>
                <div class="plugin__mobile-bottom d-md-none"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda dicta distinctio fugiat minima odit reiciendis repudiandae ut veniam voluptatibus! Eius error, et harum hic itaque iure obcaecati odit sapiente!</p></div>
            </div>

            <div class="plugin">
                <div class="plugin__mobile-top">
                    <div class="plugin__img"><img class="lazy" data-src="https://dummyimage.com/200x150/555/fff" alt=""></div>
                    <div class="plugin__text">
                        <h3 class="title">Správa zákazníků a zájemců o nemovitost (CRM)</h3>
                        <div class="text d-none d-md-block"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cum dignissimos illo. Excepturi nisi, non. Animi, debitis enim excepturi iste minus mollitia, natus odio officia quisquam recusandae repudiandae similique sunt.</p></div>
                    </div>
                </div>
                <div class="plugin__mobile-bottom d-md-none"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cum dignissimos illo. Excepturi nisi, non. Animi, debitis enim excepturi iste minus mollitia, natus odio officia quisquam recusandae repudiandae similique sunt.</p></div>
            </div>

            <div class="plugin">
                <div class="plugin__mobile-top">
                    <div class="plugin__img"><img class="lazy" data-src="https://dummyimage.com/200x150/555/fff" alt=""></div>
                    <div class="plugin__text">
                        <h3 class="title">Grafická šablona webu na míru</h3>
                        <div class="text d-none d-md-block"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam commodi delectus doloribus eaque eius facilis odit quaerat tempore. Aliquam animi asperiores commodi fuga porro. Accusantium delectus laborum nisi possimus!</p></div>
                    </div>
                </div>
                <div class="plugin__mobile-bottom d-md-none"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam commodi delectus doloribus eaque eius facilis odit quaerat tempore. Aliquam animi asperiores commodi fuga porro. Accusantium delectus laborum nisi possimus!</p></div>
            </div>

        </div>
    </div>
</div>
