<div id="servicesSection" class="section section-services">
    <div class="container">
        <h2 class="section__title">Vlastnosti a funkce řešení pro realitní kanceláře</h2>

        <div class="services">
            <div class="service">
                <div class="service__img"></div>
                <div class="service__title">
                    <h3 class="title">Zobrazení nemovitosti přímo na mapě</h3>
                </div>
                <div class="service__desc">
                    <p>Automatické zobrazování nabídek na mapě na vašem webu s možností vyhledávat nabídky přímo v mapě.</p>
                </div>
            </div>

            <div class="service">
                <div class="service__img"></div>
                <div class="service__title">
                    <h3 class="title">Správa kontaktů, zákazníků a obchodních případů</h3>
                </div>
                <div class="service__desc">
                    <p>Spravujte vaše obchodní kontakty přímo v aplikaci - evidence kontaktů, zákazníků, majitelů, nemovitostí, makléřů a dalších.</p>
                </div>
            </div>

            <div class="service">
                <div class="service__img"></div>
                <div class="service__title">
                    <h3 class="title">Pokrok</h3>
                </div>
                <div class="service__desc">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque dolore est fugiat libero nisi officiis rem.</p>
                </div>
            </div>

            <div class="service">
                <div class="service__img"></div>
                <div class="service__title">
                    <h3 class="title">API</h3>
                </div>
                <div class="service__desc">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque dolore est fugiat libero nisi officiis rem.</p>
                </div>
            </div>
        </div>
    </div>
</div>
