<div id="contactSection" class="section section-contact">
    <div class="container">
        <div class="contact-form">
            <h2 class="title">Chcete váš vlastní realitní web?</h2>
            <p class="subtitle">Požádejte o nezávaznou prezentaci zdarma.</p>
            <form action="">
                <div class="form-row">
                    <label for="name" class="col-form-label">Jméno: <span class="required-icon">*</span></label>
                    <div class="col-input">
                        <input type="text"  class="form-control" id="name" required>
                    </div>
                </div>

                <div class="form-row">
                    <label for="email" class="col-form-label">E-mail: <span class="required-icon">*</span></label>
                    <div class="col-input">
                        <input type="email"  class="form-control" id="email" required>
                    </div>
                </div>

                <div class="form-row">
                    <label for="phone" class="col-form-label">Telefon: <span class="required-icon">*</span></label>
                    <div class="col-input">
                        <input type="text"  class="form-control" id="phone" required>
                    </div>
                </div>

                <div class="form-row">
                    <label for="message" class="col-form-label">Vás vzkaz:</label>
                    <div class="col-input">
                        <textarea class="form-control" id="message" rows="3"></textarea>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-form-label"></div>
                    <div class="col-input">
                        <p class="gdpr">Odesláním souhlasíte se <a href="">zpracováním osobních údajů</a></p>
                    </div>
                </div>

                <input class="form-button" type="submit" value="Odeslat">
            </form>
        </div>

    </div>
</div>
