<div id="servicesSection" class="section section-services">
    <div class="container">
        <h2 class="section__title pb-2">Vlastnosti a funkce řešení pro realitní kanceláře</h2>

        <div class="services row mt-4">

            <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
                <div class="service" data-aos="fade-up">
                    <div class="service__top">
                        <div class="service__img">
                            <img class="lazy" data-src="assets/images/mapa.svg" alt="">
                        </div>
                        <div class="service__title">
                            <h3 class="title">Zobrazení nemovitosti přímo na mapě</h3>
                        </div>
                    </div>
                    <div class="service__desc">
                        <p>Automatické zobrazování nabídek na mapě na vašem webu s možností vyhledávat nabídky přímo v mapě.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
                <div class="service" data-aos="fade-up" data-aos-delay="300">
                    <div class="service__top">
                        <div class="service__img">
                            <img class="lazy" data-src="assets/images/adresar.svg" alt="">
                        </div>
                        <div class="service__title">
                            <h3 class="title">Správa kontaktů, zákazníků a obchodních případů</h3>
                        </div>
                    </div>
                    <div class="service__desc">
                        <p>Spravujte vaše obchodní kontakty přímo v aplikaci - evidence kontaktů, zákazníků, majitelů nemovitostí, makléřů a dalších.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
                <div class="service" data-aos="fade-up" data-aos-delay="500">
                    <div class="service__top">
                        <div class="service__img">
                            <img class="lazy" data-src="assets/images/vyhledavani.svg" alt="">
                        </div>
                        <div class="service__title">
                            <h3 class="title">Pokročilé vyhledávání dle typu, lokality a&nbsp;parametrů nemovitosti</h3>
                        </div>
                    </div>
                    <div class="service__desc">
                        <p>Chytré vyhledávání realit podle zadaných parametrů - vlastností nemovitosti, vybavení nebo lokality.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
                <div class="service" data-aos="fade-up" data-aos-delay="700">
                    <div class="service__top">
                        <div class="service__img">
                            <img class="lazy" data-src="assets/images/api.svg" alt="">
                        </div>
                        <div class="service__title">
                            <h3 class="title">Automatické exporty do realitních portálů</h3>
                        </div>
                    </div>
                    <div class="service__desc">
                        <p>Export nabídek realit na inzertní portál Sreality.cz plně automaticky skrze rozhraní API přímo z administrace aplikace.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
