.tns-controls {


  button {
    position: absolute;
    top: calc(50% - 55px);
    z-index: 1;
    color: $c-primary;
    font-size: 35px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 10px;
    line-height: 0;

    &:hover {
      background-color: #f2fcea;
    }

    @include media-breakpoint-down(xl) {
      top: calc(100% - 45px);
    }
    @include media-breakpoint-down(md) {
      width: 40px;
      height: 40px;
      font-size: 25px;
      top: calc(100% - 37px);
    }

    &[data-controls="prev"] {
      left: -120px;
      @media screen and (max-width: 1600px) {
        left: -50px;
      }
      @include media-breakpoint-down(xxl) {
        left: -40px;
      }
      @include media-breakpoint-down(xl) {
        left: 0;
      }
    }

    &[data-controls="next"] {
      right: -120px;
      @media screen and (max-width: 1600px) {
        right: -50px;
      }
      @include media-breakpoint-down(xxl) {
        right: -40px;
      }
      @include media-breakpoint-down(xl) {
        right: 0;
      }
    }
  }
}

.tns-nav {
  text-align: center;
  margin-top: 30px;

  button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ebebeb;
    border: 0;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
    padding: 0;
    margin: 0 4px;

    &:hover {
      background-color: $c-primary;
    }

    &.tns-nav-active {
      background-color: $c-primary;
      box-shadow: inset 0 2px 3px rgba(71,124,37,.7);
    }
  }
}
