<footer class="footer pt-5 pb-4 px-2 px-md-0">
    <div class="container">
        <div class="row mb-3">
            <div class="col-xl-4 col-lg-4 mb-4 mb-md-0">
                <div class="footer__col footer__col-1">
                    <div class="footer__logo text-center mb-3"><img src="/assets/images/logo-white.svg" alt="jz-real logo"></div>
                    <div class="footer__info">
                        <p>Tento projekt vznikl s ohledem na potřeby menších realitních kanceláří a samostatných realitních makléřů, kteří potřebují prezentovat prodávané nemovitosti na vlastním webu bez jakýchkoliv podmínek či poplatků realitním portálům. Vlastní inzertní web bez starostí - to je <jz-real/> od společnosti Jirsa & Záruba s.r.o.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-1"></div>
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-4 mb-md-0">
                <div class="footer__col footer__col-2">
                    <h4 class="title">Kontakt</h4>
                    <p><a href="tel:+420608926139">+420 608 926 139</a><br>
                    Po - Pá 9:00 - 17:00</p>
                    <p><a href="mailto:info@jz-real.cz">info@jz-real.cz</a></p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="footer__col footer__col-3">
                    <h4 class="title">Provozovatel</h4>
                    <p>Jirsa & Záruba s.r.o.<br>
                        Husinecká 903/10, Žižkov, 130 00 Praha 3</p>

                    <p>IČ: 05348633<br>
                       DIČ: CZ05348633</p>
                </div>
            </div>
        </div>

        <div class="footer__bottom d-flex justify-content-lg-between flex-column flex-lg-row">
            <div class="footer__bottom__left order-2 order-lg-1">
                <p>Copyright © 2022 | Jirsa a Záruba. Všechna práva vyhrazena.</p>
            </div>
            <div class="footer__bottom__right order-1 order-lg-2 mb-3 mb-lg-0">
                <nav class="footer-nav">
                    <ul>
                        <li><a href="">Obchodní podmínky</a></li>|<li><a href="">GDPR</a></li>|<li><a href="">Nastavení cookies</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
