<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg"> <!-- modal-sm / modal-lg / modal-xl / -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Správa realitních nabídek</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="close"></i></button>
            </div>
            <div class="modal-body">
                <p>Automatické zobrazování nabídek na mapě na vašem webu s možností vyhledávat nabídky přímo v mapě. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid consequatur ex inventore rerum? Ab, alias aliquam blanditiis deleniti eos error illo ipsam labore laudantium, minus quas qui reprehenderit sapiente?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut deleniti deserunt et illo iusto, odit optio reprehenderit veritatis voluptatum? Accusamus adipisci culpa facilis iusto porro provident quia! Explicabo, optio?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti dicta dolore ducimus nesciunt? Accusamus aut cumque dolores, eaque, esse eum ipsa labore laudantium molestias nulla porro, quaerat quisquam voluptatibus?</p>
            </div>
        </div>
    </div>
</div>
